html, body {
  height: 100%;
}

// GRID
.app-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr 2rem;
  grid-auto-columns: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
        "app-header app-header"
        "app-logs app-logs"
        "app-sidebar app-content"
        "app-statusbar app-statusbar";
}

.app-header {
  grid-area: app-header;
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  grid-template-rows: 40px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logotype widget-group-1 widget-group-2 connections windows-buttons"
    ". . . . .";

  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.app-header button,
.app-header a,
.app-header .form-check,
.app-header input,
.app-header select {
  -webkit-app-region: no-drag;
}

[data-os="MacOS"] .app-header .logotype {
  margin-left: 64px !important;
}

.logotype {
  grid-area: logotype;
}

.widget-group-1 {
  grid-area: widget-group-1;
}

.widget-group-2 {
  grid-area: widget-group-2;
}

.connections {
  grid-area: connections;
}

.windows-buttons {
  grid-area: windows-buttons;
  text-wrap: nowrap;
  margin-left: .5rem;
}

.windows-buttons > .btn {
  display: inline-flex;
  border: none !important;
}

.windows-buttons > .btn .icon {
  width: 1.8rem;
  height: 1.8rem;
  display: inline-block;
  background: #dee2e6;
  mask-position: center center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

.windows-buttons > .btn:not(.btn-outline-danger):hover {
  --inav-btn-hover-bg: var(--inav-tertiary-bg);
}

.windows-buttons > .btn .icon.options {
  mask-image: url(images/three-dots-vertical.svg);
}

.windows-buttons > .btn .icon.close {
  mask-image: url(images/window-close.svg);
}

.windows-buttons > .btn .icon.minimize {
  mask-image: url(images/window-minimize.svg);
}

.windows-buttons > .btn .icon.maximize {
  mask-image: url(images/window-maximize.svg);
}

.windows-buttons > .btn .icon.restore {
  mask-image: url(images/window-restore.svg);
}

[data-os="MacOS"] .windows-buttons > .btn.options {
  padding: .65rem 0 !important;
}

[data-os="MacOS"] .windows-buttons > .btn:not(.options) {
  display: none !important;
}

.app-logs {
  grid-area: app-logs;
  height: 2rem;
}

.app-sidebar {
  grid-area: app-sidebar;
  overflow-y: auto;
  width: 200px;
}

.app-statusbar {
  grid-area: app-statusbar;
}

.app-content {
  grid-area: app-content;
  overflow-y: auto;
  position: relative;
}


.app-header {
  background-color: var(--inav-body-bg);
  color: var(--inav-body-color);

  .header-gap {
    gap: 0.75rem;

    .vr:last-child {
      margin-right: 0.75rem;
    }
  }

  .logo {
    img {
      height: 100%;
    }
  }

  .profiles {
    flex-direction: column;
  }

  .sensors {
    font-size: .9rem;

    .list-group-item {
      display: flex;
      align-items: center;
      background-size: contain;
      text-shadow: 0 0 1px var(--inav-body-bg), 0 0 1px var(--inav-body-bg), 0 0 1px var(--inav-body-bg), 0 0 1px var(--inav-body-bg);
      span {
        position: relative;
        color: rgba(var(--inav-body-color-rgb), 0.5);
      }
      .background-mask {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--inav-secondary-bg);
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
      }

      &.is-active,
      &.error {
        span {
          color: var(--inav-body-color);
        }
      }

      &.is-active {
        .background-mask {
          background-color: var(--inav-primary);
        }
      }

      &.error {
        span {
          color: var(--inav-danger-text-emphasis);
        }
        .background-mask {
          background-color: var(--inav-danger);
        }
      }
    }
  }

}

.app-logs {
  background: var(--inav-tertiary-bg);
  overflow: auto;
  transition: .25s all;

  &.open {
    height: 10rem;
    opacity: 1;
  }

  .logs-toggle {
    font-weight: 600;
    position: absolute;
    z-index: 1;
    right: 0;
    cursor: pointer;
    padding-right: 1rem;
  }

  .logs-stream {
    opacity: .4;
    transition: .25s all;
  }

  &.open {
    .logs-stream {
      opacity: 1;
    }
  }
}

.app-container {
  height: 100vh;
  background-color: var(--inav-body-bg);

  & > .app-sidebar {
    background-color: var(--inav-body-bg);
    border-right: 2px solid var(--inav-primary);
  }

  & > .app-statusbar {
    display: flex;
    align-items: center;
    background-color: var(--inav-tertiary-bg);
    font-size: 0.9rem;
  }

}

.page {
  --inav-gutter-x: 2rem;
  --inav-gutter-y: 2rem;

  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  padding: calc(var(--inav-gutter-y) * 0.25) calc(var(--inav-gutter-x) * 0.5)  calc(var(--inav-gutter-y) * 0.5);
  margin-right: auto;
  margin-left: auto;

  .page-header {
    color: var(--inav-body-color);
    font-size: 1.75rem;
    border-bottom: var(--inav-border-width) var(--inav-border-color) solid;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
  }

  .page-content {

  }

  .page-footer {
    display: flex;
    position: sticky;
    z-index: 1001;
    bottom: 0;
    justify-content: flex-end;
    margin: auto calc(var(--inav-gutter-x) * -0.5) calc(var(--inav-gutter-y) * -0.5);
    padding: calc(var(--inav-gutter-y) * 0.5) calc(var(--inav-gutter-x) * 0.5);
    border-top: var(--inav-border-width) var(--inav-border-color) solid;
    background-color: var(--inav-tertiary-bg);
  }
}

.bg-grid {
  --paper-line: rgba(var(--inav-secondary-color-rgb), .05);
  background-image: linear-gradient(to right, var(--paper-line) 0, var(--paper-line) 1px, transparent 1px, transparent 100% ),
  linear-gradient( to bottom, var(--paper-line) 0, var(--paper-line) 1px, transparent 1px, transparent 100% );
  background-position: -1px 0, 0 -1px;
  background-size: 16px 16px;
}



$tabIcons: (
  'welcome': url(./images/icons/cf_icon_welcome_white.svg),
  'help': url(./images/icons/cf_icon_help_white.svg),
  'mission-control': url(./images/icons/cf_icon_mission_white.svg),
  'firmware-flasher': url(./images/icons/cf_icon_flasher_white.svg),
  'sitl': url(./images/icons/cf_icon_sitl_white.svg),
  'setup': url(./images/icons/cf_icon_setup_white.svg),
  'calibration': url(./images/icons/cf_icon_cal_white.svg),
  'mixer': url(./images/icons/cf_icon_mixer_white.svg),
  'outputs': url(./images/icons/cf_icon_motor_white.svg),
  'ports': url(./images/icons/cf_icon_ports_white.svg),
  'configuration': url(./images/icons/cf_icon_config_white.svg),
  'failsafe': url(./images/icons/cf_icon_failsafe_white.svg),
  'pid-tuning': url(./images/icons/cf_icon_pid_white.svg),
  'advanced-tuning': url(./images/icons/cf_icon_advanced_grey.svg),
  'programming': url(./images/icons/cf_icon_config_grey.svg),
  'receiver': url(./images/icons/cf_icon_rx_white.svg),
  'adjustments': url(./images/icons/cf_icon_adjust_white.svg),
  'auxiliary': url(./images/icons/cf_icon_modes_white.svg),
  'gps': url(./images/icons/cf_icon_gps_white.svg),
  'magnetometer': url(./images/icons/cf_icon_mag_white.svg),
  'osd': url(./images/icons/icon_osd.svg),
  'led-strip': url(./images/icons/cf_icon_led_white.svg),
  'sensors': url(./images/icons/cf_icon_sensors_white.svg),
  'logging': url(./images/icons/cf_icon_log_white.svg),
  'onboard-logging': url(./images/icons/cf_icon_data_white.svg),
  'cli': url(./images/icons/cf_icon_cli_white.svg),
);



.sidebar-nav {
  li {
    max-width: 100%;
  }

  a {
    position: relative;
    font-size: 1.1rem;
    height: 2.25rem;
    padding-left: 2.5rem;
    color: var(--inav-secondary-color);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    // .icon-mixer:before, ...
    @each $name, $url in $tabIcons {
      &.icon-#{$name}:before {
        mask-image: $url;
      }
    }

    &:before {
      content: " ";
      width: 1.33rem;
      height: 1.33rem;
      position: absolute;
      background-color: var(--inav-secondary-color);
      top: 0.45rem;
      left: .66rem;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: cover;
    }
  }

  li.active a {
    color: var(--inav-white);
    background-color: var(--inav-primary);
    &:before {
      background-color: var(--inav-white);
    }
  }

  li:not(.active) .nav-link:hover {
    color: var(--inav-body-color);
    background-color: var(--inav-tertiary-bg);
    &:before {
      background-color: var(--inav-body-color);
    }
  }
}

#status-bar .status-bar-item:last-child {
  padding: 0 0.5rem;
  margin-left: auto;
}

#status-bar .status-bar-item:has(span:not(:empty)) {
  padding: 0 0.5rem;
  border-right: var(--inav-border-width) var(--inav-border-color) solid;
}

@include media-breakpoint-down(lg) {
  #status-bar .status-bar-item:last-child {
    padding: 0 0.25rem;
  }
  #status-bar .status-bar-item:has(span:not(:empty)) {
    padding: 0 0.25rem;
  }
}


[data-connected="true"] .mode-connected,
[data-connected="false"] .mode-disconnected
{
  display: unset;
}

[data-connected="false"] .mode-connected,
[data-connected="true"] .mode-disconnected
{
  display: none !important;
}

@include media-breakpoint-down(sm) {
  .app-header {
    .header-gap {
      gap: 0.75rem !important;

      .vr:last-child {
        margin-right: 0.75rem;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .app-sidebar {
    width: auto;
  }
  .sidebar-nav a {
    font-size: 0;
    padding-left: 2rem;
  }
}

@include media-breakpoint-down(xl) {
  .app-header {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 40px auto;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "logotype widget-group-1 connections windows-buttons"
    "widget-group-2 widget-group-2 widget-group-2 widget-group-2";

    .widget-group-2 {
      margin-top: .5rem;
      padding-top: .5rem;
      flex-direction: row-reverse;
    }
  }

  .profiles {
    flex-direction: row !important;
    gap: .75rem !important;
    line-height: 2rem;
    width: -webkit-fill-available;
    small {
      font-size: 1rem !important;
    }
  }

  .sensors {
    .list-group-item {
      padding: .25rem .5rem;
    }
  }
}

@include media-breakpoint-down(xxl) {
  .app-header {
    .header-gap {
      gap: 0.45rem !important;

      .vr:last-child {
        margin-right: 0.45rem;
      }
    }
  }

  .sensors {
    .list-group-item {
      padding: .5rem;
    }
  }
}

[data-bs-theme="dark"] .ol-unselectable {
  // TODO: implement it only for openstreetsmap
  //filter: invert(1) hue-rotate(180deg) grayscale(0.5);
}

[data-highlight-profile-params="true"] {
  --highlighted-param-border-width: .25rem;
  --highlighted-param-padding-left: calc(#{$input-padding-x} + #{$input-border-width} - var(--highlighted-param-border-width));

  .profile-input-battery {
    border-color: var(--inav-warning-border-subtle);
    border-left-width: var(--highlighted-param-border-width);
    padding-left: var(--highlighted-param-padding-left);
  }
  .profile-input-mixer {
    border-color: var(--inav-primary-border-subtle);
    border-left-width: var(--highlighted-param-border-width);
    padding-left: var(--highlighted-param-padding-left);
  }
  .profile-input-control {
    border-color: var(--inav-success-border-subtle);
    border-left-width: var(--highlighted-param-border-width);
    padding-left: var(--highlighted-param-padding-left);
  }
}