.DS_store
nbproject/
node_modules/
npm-debug.log
.idea/
npm-debug.log
inav-configurator.iml
/out
.eslintrc.json
/.project
/cache/
/dist/
/apps/
/build/
*~
*.swp
*.bak
eeprom.bin
yarn.lock