.DS_store
nbproject/
node_modules/
npm-debug.log
.idea/
npm-debug.log
inav-configurator.iml
# Generated scripts and styles
/build
# Used by nw-builder to download runtimes
/cache
# Where we put the final app directory structure
/dist
/release
/debug
/cache
# Path where the NW.js apps get built
/apps
/.vscode/
.eslintrc.json
/.project
