.DS_store
nbproject/
node_modules/
npm-debug.log
.idea/
npm-debug.log
inav-configurator.iml
/out
/.vite
.eslintrc.json
/.project
/cache/
/apps/
/build/
/dist/
/dev-dist/
/.yarn/
*~
*.swp
*.bak
eeprom.bin

# ctags
tags
TAGS
