.initialstyle {
}

.tab-calibration .content_toolbar {
    left: 0px;
    }
    
.tab-calibration .tile {
    float: left;
    width: calc(33% - 10px);
    height: 150px;
    background-color: grey;
    border-radius: 5px;
    border: solid 1px silver;
    margin-right: 14px;
    margin-bottom: 15px; 
}
    
    
.tab-calibration .tile:nth-child(4) {
    margin-right: 0px;
}
    
.tab-calibration .tile:nth-child(7) {
    margin-right: 0px;
}