.defaults-dialog__background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.75;
    z-index: 2001;
}

.defaults-dialog__bottom_buttons {
    position: absolute;
    bottom: 1em;
    width: 500px;
}

.defaults-dialog__bottom_buttons .btn {
    float: right;
    margin-left: 2em;
}

.defaults-dialog__bottom_buttons  {
    font-size: 14pt !important;
}

.defaults-dialog__content, .defaults-dialog__wizard {
    background-color: #efefef;
    border-radius: 2px;
    z-index: 2002;
    position: absolute;
    width: 500px;
    height: 535px;
    overflow: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1em;
}

.defaults-dialog__wizard {
    font-size: 1.2em;
}

.defaults-dialog__wizard > div {
    margin-top: 1em;
}

.defaults-dialog__wizard label {
    min-width: 30%;
    display: inline-block;
}

.defaults-dialog__wizard p {
    margin-top: 1em;
    font-size: 0.9em;
    color:#444;
}

.defaults-dialog__content--wrapper {
    overflow-y: auto;
}

.defaults-dialog__info {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.defaults_btn {
    float: none;
    display: block;
    margin-top: 1em;
}

.defaults_btn a {
    font-size: 1.4em;
    line-height: 25px;
}

.defaults_btn--not-recommended a {
    color: #444;
    border: 1px solid #666;
    background-image: linear-gradient(45deg, #fcea97 25%, #ffffff 25%, #ffffff 50%, #fcea97 50%, #fcea97 75%, #ffffff 75%, #ffffff 100%);
    background-size: 56.57px 56.57px;
}

.defaults_btn--not-recommended a:hover {
    color: #222 !important;
}
