.defaults-dialog__background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.75;
    z-index: 2001;
}

.defaults-dialog__bottom_buttons {
    position: absolute;
    bottom: 1em;
    width: 500px;
}

.defaults-dialog__bottom_buttons .btn {
    float: right;
    margin-left: 2em;
}

/*.defaults-dialog__bottom_buttons  {*/
/*    font-size: 14pt !important;*/
/*}*/

.defaults-dialog__content, .defaults-dialog__wizard {
    border: var(--inav-border-width) var(--inav-border-color) solid;
    border-radius: var(--inav-border-radius);
    background-color: var(--inav-body-bg);
    color: var(--inav-body-color);

    z-index: 2002;
    position: absolute;
    width: 500px;
    max-height: 573px;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1em auto;
    padding: 1em;
}

.defaults-dialog__wizard {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

.defaults-dialog__wizard label {
    min-width: 30%;
    display: inline-block;
}

.defaults-dialog__wizard p {
    margin-top: 1em;
    font-size: 0.9em;
    color:#444;
}

.defaults-dialog__content--wrapper {
    /*overflow-y: auto;*/
}

.defaults-dialog__info {
    font-size: 1.3em;
}

.defaults_btn {
    float: none;
    display: block;
    margin-top: 1em;
}

.defaults_btn a {
    font-size: 1.4em;
    line-height: 25px;
}
