#view-groundstation {
    background-color: #2e2e2e;
    width: 100%;
    height: 100%;
    display: flex;
}

#groundstation-map {
    width: 100%;
    height: 100%;
}

#groundstation-telemetry {
    width: 20%;
    color: #ddd;
}

.groundstation-telemetry__header {
    margin: 1em;
    text-align: center;
}

.groundstation-telemetry__row {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-size: 1.1em;
}

.groundstation-telemetry__row--big {
    font-size: 2.2em;
}

.groundstation-telemetry__label {
    color: #aaa;
    font-weight: bold;
}