.logic__background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.75;
    z-index: 2001;
}

.logic__content {
    position: fixed;
    top: 4em;
    bottom: 2em;
    left: 6em;
    right: 6em;
    background-color: var(--inav-body-bg);
    border-radius: 2px;
    z-index: 2002;
    /*padding: 1em;*/
}

.logic__content--wrapper {
    overflow-y: auto;
    margin-bottom: 30px;
    position: absolute;
    left: 2em;
    right: 2em;
    top: 65px;
    bottom: 35px;
}






.logic_cell__active_marker {
    margin-top: .5rem;
    border: var(--inav-border-width) var(--inav-border-color) solid;
    width: 1.33rem;
    height: 1.33rem;
    border-radius: 50%;
    display: inline-block;
}

.logic_cell__active_marker--active {
    border: none;
    background-color: var(--inav-primary);
}

.logic_cell__active_marker--inactive {
    background-color: var(--inav-body-bg);
}