.helpicon::after {
    font-family: bootstrap-icons !important;
    -webkit-font-smoothing: antialiased;
    font-size: 1.15rem;
    content: "\F504";
    color: var(--inav-secondary);
}

.helpicon:hover::after {
    color: var(--inav-primary);
}

a.helpiconLink {
    text-decoration: none;
}

a.helpiconLink:hover .helpicon::after {
    content: "\F1C5";
}

.inputRequiredWarning {
    border: 3px solid var(--inav-danger) !important;
}

.cf_doc_version_bt a {
    padding: 1px 9px 1px 9px;
    margin-top: -45px;
    background-color: var(--inav-primary);
    border-radius: 3px;
    border: 1px solid var(--inav-primary);
    color: #fff;
    float: right;
    font-size: 10px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    display: block;
}

.cf_doc_version_bt a:hover {
    background-color: var(--inav-primary);
    transition: all ease 0.2s;
}

/* documentation button end  */
input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
    margin-left: 5px;
}

.clear-both {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

#main-wrapper {
    padding: 0;
    /*height: calc(100% - 7px);*/
}

.mt1em {
    margin-top: 1em !important;
}

.mb1em {
    margin-bottom: 1em !important;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.headerbar {
    height: 94px;
    width: 100%;
    background-color: var(--inav-body-bg);
}

#port-override-option label {
    color: #ddd;
    position: relative;
    top: 1px;
}

#header_dataflash {
    display: none;
}

#sensor-status {
    margin-top: 1rem;
    float: right;
    margin-right: 20px;
    line-height: 2px;
    height: 67px;
    background-color: rgba(var(--inav-emphasis-color-rgb), 0.05);
    border-radius: var(--inav-border-radius);
    border: var(--inav-border-width) var(--inav-border-color) solid;
}

#sensor-status li {
    float: left;
    height: 67px;
    width: 33px;
    line-height: 18px;
    text-align: center;
    border-left: var(--inav-border-width) var(--inav-border-color) solid;
    padding-left: 5px;
    padding-right: 5px;
}


.gyroicon,
.accicon,
.magicon,
.gpsicon,
.opflowicon,
.baroicon,
.sonaricon,
.airspeedicon
{
    height: 30px;
    margin-top: 3px;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    color: rgba(var(--inav-secondary-color-rgb), .33);
}

.gyroicon.active,
.accicon.active,
.magicon.active,
.gpsicon.active,
.opflowicon.active,
.baroicon.active,
.sonaricon.active,
.airspeedicon.active {
    color: var(--inav-secondary-color);
}


.gyroicon.error,
.accicon.error,
.magicon.error,
.gpsicon.error,
.opflowicon.error,
.baroicon.error,
.sonaricon.error,
.airspeedicon.error {
    color: var(--inav-danger);
}


.gyroicon {
    background: url("./../../images/icons/sensor_gyro_off.png") no-repeat top;
    background-size: 43px;
}

.gyroicon.active {
    background-image: url("./../../images/icons/sensor_gyro_on.png");
}

.accicon {
    background: url("./../../images/icons/sensor_acc_off.png") no-repeat -5px 2px;
    background-size: 40px;
}

.accicon.active {
    background-image: url("./../../images/icons/sensor_acc_on.png");
}

.accicon.error {
    background-image: url("./../../images/icons/sensor_acc_error.png");
}

.magicon {
    background: url("./../../images/icons/sensor_mag_off.png") no-repeat -5px 2px;
    background-size: 42px;
}

.magicon.active {
    background-image: url("./../../images/icons/sensor_mag_on.png");
}

.magicon.error {
    background-image: url("./../../images/icons/sensor_mag_error.png");
}

.gpsicon {
    background: url("./../../images/icons/sensor_sat_off.png") no-repeat -5px 2px;
    background-size: 42px;
}

.gpsicon.active {
    background-image: url("./../../images/icons/sensor_sat_on.png");
}

.gpsicon.error {
    background-image: url("./../../images/icons/sensor_sat_error.png");
}

.opflowicon {
    background: url("./../../images/icons/sensor_flow_off.png") no-repeat -5px 0;
    background-size: 42px;
}

.opflowicon.active {
    background-image: url("./../../images/icons/sensor_flow_on.png");
}

.opflowicon.error {
    background-image: url("./../../images/icons/sensor_flow_error.png");
}

.baroicon {
    background: url("./../../images/icons/sensor_baro_off.png") no-repeat -5px 2px;
    background-size: 40px;
}

.baroicon.active {
    background-image: url("./../../images/icons/sensor_baro_on.png");
}

.baroicon.error {
    background-image: url("./../../images/icons/sensor_baro_error.png");
}

.sonaricon {
    background: url("./../../images/icons/sensor_sonar_off.png") no-repeat -4px 1px;
    background-size: 41px;
}

.sonaricon.active {
    background-image: url("./../../images/icons/sensor_sonar_on.png");
}

.sonaricon.error {
    background-image: url("./../../images/icons/sensor_sonar_error.png");
}

.airspeedicon {
    background: url("./../../images/icons/sensor_airspeed_off.png") no-repeat -4px 1px;
    background-size: 41px;
}

.airspeedicon.active {
    background-image: url("./../../images/icons/sensor_airspeed_on.png");
}

.airspeedicon.error {
    background-image: url("./../../images/icons/sensor_airspeed_error.png");
}

#sensor-status li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#sensor-status li:first-child {
    border-left: none;
}

#sensor-status .on {
}

#options:hover {
    opacity: 1;
}

#options.active {
    opacity: 0.65;
}

#options.active:hover {
    opacity: 0.75;
}

#options-window {
    display: none;
    position: fixed;
    max-height: calc(100vh - 5rem);
    border: var(--inav-border-width) solid var(--inav-border-color);
    background-color: var(--inav-body-bg);
    border-radius: var(--inav-border-radius);
    right: 1rem;
    top: 4rem;
    z-index: 1003;
}

#content.loading {
    overflow-y: hidden;
}

#content.loading > * {
    opacity: 0;
}

#cache {
    display: none;
}

.data-loading {
    z-index: 2001;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('./../../images/loading-bars.svg') no-repeat center 45%;
    background-color: var(--inav-body-bg);
    animation: .25s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.data-loading p {
    position: relative;
    top: calc(45% + 45px);
    text-align: center;
    font-weight: 600;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog {
    background-color: var(--inav-body-bg);
    border: var(--inav-border-width) solid var(--inav-border-color);
    border-radius: var(--inav-border-radius);
    width: 50%;
}

/* Border of the Tab */

/* Tab Title */
.tab_title {
    border-bottom: 1px solid var(--inav-primary-border-subtle);
    font-size: 20px;
    line-height: 24px;
    height: 30px;
    color: var(--inav-body-color);
    margin-bottom: 15px;
}

.tab_subtitle {
    border-bottom: 1px solid var(--inav-primary);
    font-size: 1.5em;
    line-height: 1.5em;
    height: 25px;
    font-family: 'open_sanslight', Arial, serif;
    margin-bottom: 8px;
}

.tab_subtitle--no-border {
    border: none;
}

/* Note */
.note {
    color: var(--inav-warning-text-emphasis);
    background-color: var(--inav-warning-bg-subtle);
    border: var(--inav-border-width) solid var(--inav-warning-border-subtle);
    border-radius: var(--inav-border-radius);
    font-size: .9rem;
    margin-bottom: 7px;
    margin-top: 3px;
}

.note--big {
    font-size: 1.15em;
    padding: 0.6em;
}

.note_spacer {
    padding: 5px 7px 5px 7px;
}

.tab_wrapper {
    padding: 20px 15px 15px 15px;
}

.content_wrapper {
    padding: 20px;
    position: relative;
}

.content_toolbar {
    /*  content toolbar panel */
    width: 100%;
    height: 60px;
    background-color: var(--inav-tertiary-bg);
    padding: 10px 0;
    overflow: hidden;
    border-top: var(--inav-border-color) var(--inav-border-width) solid;
}

.content_toolbar .btn a:hover {
    background-color: #3394b5;
    transition: all ease 0.2s;
}

.content_toolbar .btn a:active {
    background-color: var(--inav-primary);
    transition: all ease 0.0s;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
}

.content_toolbar .btn a.disabled {
    cursor: default;
    color: #fff;
    background-color: #AFAFAF;
    border: 1px solid #AFAFAF;
    pointer-events: none;
    text-shadow: none;
    opacity: 0.5;
}

.content_toolbar .btn-danger a {
    background-color: #db250e;
    border: 1px solid #b5480e;
}

.content_toolbar .btn-danger a:hover {
    background-color: #b5480e;
    transition: all ease 0.2s;
}


.toolbar_scroll_bottom .content_wrapper {
    /*  content wrapper in view with toolbar in scroll bottom
      leave 50px space for the toolbar
      */
    height: 100%;
    margin: 0 0 -50px;
}

.toolbar_fixed_bottom .content_wrapper {
    /*  content wrapper in view with toolbar fixed over bottom edge
      leave 50px space for the toolbar
      */
    height: calc(100% - 90px);
    overflow-y: auto;
}

.toolbar_fixed_bottom .content_toolbar {
    position: absolute;
    bottom: 0;
    z-index: 2000; /* for fancy toggle buttons */
}

/* Colums  START> */
.cf_column {
    min-height: 20px;
    margin-bottom: 0;
}

.full {
    float: left;
    width: 100%;
}

.half {
    float: left;
    width: 50%;
}

.third_left {
    float: left;
    width: 33%;
}

.third_center {
    display: inline-block;
    width: 34%;
}

.third_right {
    float: right;
    width: 33%;
}

.fourth {
    float: left;
    width: 25%;
}

.threefourth_right {
    float: right;
    width: 75%;
}

.threefourth_left {
    float: left;
    width: 75%;
}

.twothird {
    float: left;
    width: 67%;
}

/* Columns  END> */

/* Spacers */
.spacer {
    padding-left: 7px;
    padding-right: 7px;
    width: calc(100% - 14px);
    float: left;
}

.spacer_left {
    padding-left: 15px;
    float: left;
    width: calc(100% - 15px);
}

.spacer_right {
    padding-right: 15px;
    width: calc(100% - 15px);
    float: left;
}

/* Standard GUI BOX */
.gui_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: var(--inav-body-color);
    background-color: var(--inav-tertiary-bg);
    background-clip: border-box;
    border: var(--inav-border-width) solid var(--inav-border-color);
    border-radius: var(--inav-border-radius);
}

.gui_box_titlebar {
    --inav-card-inner-border-radius: calc(var(--inav-border-radius) - (var(--inav-border-width)));
    background-color: rgba(var(--inav-body-color-rgb), 0.03);
    border-radius: var(--inav-card-inner-border-radius) var(--inav-card-inner-border-radius) 0 0;
    font-size: 1.1rem;
    padding: .33rem .75rem;
    font-weight: 600;
}

.gui_warning {
    background: var(--inav-danger-bg-subtle);
    border-color: var(--inav-danger-border-subtle);
}

.gui_note {
    /*background: #ffffff;*/
}

.gui_warning .gui_box_titlebar {
    border: var(--inav-border-width) var(--inav-danger) solid;
    border-bottom: none;
    background: var(--inav-danger);
    margin: calc(-1 * var(--inav-border-width));
}

/*noinspection CssNegativeValue*/
.gui_note .gui_box_titlebar {
}

.grey {
}



.spacer_box {
    padding: 10px;
}

.spacer_box_title {
}

/* Fixed area at the Bottom */
.fixed_band {
    position: relative;
    height: 50px;
    background-color: #e4e4e4;
    width: calc(100% + 40px);
    margin-left: -20px;
    box-shadow: rgba(0, 0, 0, 0.00) 0 -3px 8px;
    bottom: 0;
    margin-bottom: 0;
}

.fixed_band .save_btn a {
    margin-top: 9px;
    margin-bottom: 0;
    margin-right: 20px;
    background-color: #59aa29;
    border-radius: 3px;
    border: 1px solid #4c8829;
    color: #fff;
    float: right;
    font-family: 'open_sansbold', Arial, serif;
    font-size: 12px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    display: block;
    cursor: pointer;
    transition: all ease 0.2s;
    padding: 0 9px;
    line-height: 28px;
}

.fixed_band .save_btn a:hover {
    background-color: var(--inav-primary);
    transition: all ease 0.2s;
}

/* DIfferent buttons */
.default_btn {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    margin-top: 0;
    float: left;
}

.default_btn.narrow {
    width: auto;
    margin-bottom: 0;
}

.default_btn.narrow a {
    padding: 5px;
}

.default_btn a {
    padding: 5px 0 5px 0;
    text-align: center;
    background-color: var(--inav-body-bg);
    border-radius: 4px;
    border: 1px solid var(--inav-primary);
    color: var(--inav-primary);
    font-size: 12px;
    line-height: 13px;
    display: block;
    transition: all ease 0.2s;
    text-decoration: none;
}

.default_btn a.disabled {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #ccc;
}

.default_btn a:hover {
    background-color: var(--inav-primary);
    color: #fff !important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    transition: all ease 0.2s;
    text-decoration: none;

}

.default_btn a:active {
    background-color: var(--inav-primary);
    transition: all ease 0.0s;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
}

.small {
    width: auto;
    position: relative;
    margin-bottom: 7px;
    margin-top: 0;
    margin-right: 5px;
    float: left;
}

.small a {
    padding: 3px 4px 4px 4px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    background-color: #acacac;
    border-radius: 3px;
    border: 1px solid #949494;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    display: block;
    transition: all ease 0.2s;
}

.small a:hover {
    background-color: #45bce5;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #3a9dbf;
    transition: all ease 0.2s;
}

.small a:active {
    background-color: #878787;
    transition: all ease 0.0s;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
}

.green a {
    background-color: var(--inav-primary);
    color: #fff;
    border: var(--inav-border-width) var(--inav-primary-border-subtle) solid;
}

.green a:hover {
    background-color: var(--inav-primary-border-subtle);
}

.btn.red a,
.btn.red a:active {
    color: var(--inav-danger);
    border: var(--inav-border-width) var(--inav-danger-border-subtle) solid;
}

.btn.red a:hover {
    background-color: var(--inav-danger-border-subtle);
    color: #fff;
}

/* Table styling */
.cf_table {
    border-collapse: collapse;
    margin-bottom: -5px;
    float: left;
    margin-top: -5px;
    font-size: 11px;
    width: 100%;
}

.cf_table tr {
    border-bottom: var(--inav-border-width) var(--inav-border-color) dotted;
}

.cf_table tr:last-child {
    border: none;
}

.cf_table td {
    padding-top: 2px;
    padding-bottom: 5px;
    border: 0 dotted;
}

.noboarder td {
    border: none;
}

.cf_table tr:last-child td {
    border-bottom: 0px #ccc dotted;
}

.cf_table td:last-child {
    text-align: right;
}

.gps_false {
    background-color: #FF0004;
    padding: 1px 7px 2px 7px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    margin-left: 3px;
}

.gps_true {
    background-color: #59aa29;
    padding: 1px 7px 2px 7px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    margin-left: 3px;
}

/* connect button */
.connect_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    float: right;
    left: 0;
    top: 1rem;
    height: 70px;
    width: 60px;
    margin-right: 20px;
    margin-left: 20px;
}

.connect_b {
    float: left;
}

.connect_b a {
    height: 45px;
    width: 45px;
    border-radius: 100px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    float: left;
    margin-bottom: 7px;
    transition: none;
}

.connect_b a.connect {
    border: 1px solid #339cc1;
    background-size: 44px;
    background: var(--inav-primary) url('./../../images/icons/cf_icon_usb2_white.svg') no-repeat center 6px;
    transition: none;
}

.connect_b a.connect:hover {
    background-color: #40b8e2;
}

.connect_b a.connect.active {
    border: 1px solid #fe0000;
    background: var(--inav-danger) url('./../../images/icons/cf_icon_usb1_white.svg');
    transition: none;
}

.connect_b a.connect.active:hover {
    background-color: #f21212;
}

.connect_state {
    float: left;
    height: 20px;
    width: 100%;
    text-align: center;
    color: var(--inav-body-color);
    font-size: 1rem;
    margin-top: -1px;
}

/* GPS Fix styling*/
.fix3d {
    background-color: var(--inav-success);
    color: var(--inav-white);
    border-radius: var(--inav-border-radius);
    padding: 2px 5px;
    font-size: .9rem;
}

.fix2d {
    background-color: #bcbf10;
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
}

.dataflash-contents_global .notsupported_global {
    display: none;
}

.noflash_global {
    display: none;
}

.cf_tooltiptext {
    display: none;
}

/* Battery element styling*/

#quad-status_wrapper {
    display: none;
    width: 6rem;
}

.armedicon,
.failsafeicon,
.linkicon {
    height: 18px;
    width: 18px;
    background-size: contain;
    background-position: center;
    transition: none;
}

.armedicon {
    background-image: url("./../../images/icons/cf_icon_armed_grey.svg");
}

.failsafeicon {
    background-image: url("./../../images/icons/cf_icon_failsafe_grey.svg");
}

.linkicon {
    background-image: url("./../../images/icons/cf_icon_link_grey.svg");
}

.bottomStatusIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2rem;
}

.lc_disabled {
    color: #aaa;
}

.full-width {
    width: 100% !important;
}

.is-hidden {
    display: none;
}

.modal__content {

}

.modal__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
}

.modal__buttons--upbottom {
    bottom: 22px;
}

.modal__button {
    padding: 1em;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--inav-primary);
    color: var(--inav-primary);
    font-size: 12px;
    line-height: 13px;
    display: block;
    transition: all ease 0.2s;
    text-decoration: none;
    cursor: pointer;
}

.modal__button--main {
    background-color: var(--inav-primary);
    color: #fff;
    border: var(--inav-border-width) var(--inav-primary) solid;
    transition: all ease 0.2s;
}

.modal__button--main:active {
    background-color: var(--inav-primary);
    transition: all ease 0.0s;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
}

.modal__button--main:hover {
    background-color: #3394b5;
    transition: all ease 0.2s;
}

.modal__button--main--inline {
    display: inline;
}

.modal__button--disabled {
    cursor: default;
    color: #fff;
    background-color: #AFAFAF;
    border: 1px solid #AFAFAF;
    pointer-events: none;
    text-shadow: none;
    opacity: 0.5;
}

.modal__title {
    border-bottom: 1px solid var(--inav-primary);
    font-size: 1.75rem;
    line-height: 1.75rem;
    height: 30px;
    margin-bottom: 15px;
}

.modal__title--warning {
    border-bottom: none;
    color: darkred;
}

.modal__text {
    line-height: 1.5em;
    font-size: 1.3em;
}

.jBox-Tooltip {
    max-width: 180px;
}

.spacebottom {
    margin-bottom: 15px;
}

.position-relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.warning-box {
    background-color: var(--inav-danger-bg-subtle);
    color: var(--inav-danger-text-emphasis);
    border: var(--inav-danger-border-subtle);
    border-radius: var(--inav-border-radius);
    /*font-weight: bold;*/
    margin: 0.4em 0;
    padding: 1em;
    clear: both;
}

.info-box {
    background-color: var(--inav-primary-bg-subtle);
    color: var(--inav-primary-text-emphasis);
    border-radius: var(--inav-border-radius);
    border: var(--inav-border-width) var(--inav-primary-border-subtle) solid;
    font-weight: 600;
    margin: 0.4em 0;
    padding: 1em;
    clear: both;
}

.ok-box {
    background-color: var(--inav-success-bg-subtle);
    color: var(--inav-success-text-emphasis);
    border-radius: var(--inav-border-radius);
    border: var(--inav-border-width) var(--inav-success-border-subtle) solid;
    font-weight: 600;
    margin: 0.4em 0;
    padding: 1em;
    clear: both;
}

#modal-reconnect {
    /* width: 100%; */
    height: 90px;
    background: url(../../images/loading-bars.svg) no-repeat center 100%;
}

#modal-reconnect div {
    text-align: center;
}

#modal-saving-defaults {
    /* width: 100%; */
    height: 90px;
    background: url(../../images/loading-bars.svg) no-repeat center 100%;
}

#modal-saving-defaults div {
    text-align: center;
}

.subtab__header {
    padding: 0;
    height: auto;
}

.subtab__header_label {
    display: inline-block;
    padding: 0 1em;
    background-color: rgba(var(--inav-emphasis-color-rgb), 0.05);
    min-width: 7em;
    height: 1.5em;
    line-height: 1.5em;
    cursor: pointer;
    font-size: 18px;
    border-radius: var(--inav-border-radius) var(--inav-border-radius) 0 0;
}

.subtab__header_label--current {
    background-color: rgba(var(--inav-emphasis-color-rgb), 0.15);
}

.subtab__header_label:hover {
    background-color: rgba(var(--inav-emphasis-color-rgb), 0.15);
}

.subtab__content {
    display: none;
}

.subtab__content--current {
    display: block;
}

ol li {
    list-style: decimal;
    padding-left: 0.5em;
    margin-left: 1em;
}

.red-background,
.red-background td,
.red-background th {
    background-color: tomato !important;
}

/* Wrapper for inputs with unit displays */
.unit_wrapper {
    display: inline-block;
    position: relative;
}

.unit_wrapper input {
    margin-right: 0 !important;
}

.unit_wrapper ~ label, select ~ label, input ~ label {
    margin-left: 10px;
}

/* Position the unit to the right of the wrapper */
.unit_wrapper::after {
    position: absolute;
    /*top: 2px;*/
    bottom: -3px;
    height: 100%;
    right: .5em;
    transition: all .05s ease-in-out;
}

/* Set the unit abbreviation for each unit class */
.unit::after {
    content: attr(data-unit) ;
}

.no-border {
    border: none !important;
}

.bold {
    font-weight: bold;
}

/* TEMPORARY */
.tab-configuration {
    position: relative;
}

.tab-configuration .leftWrapper {
    float: left;
    width: calc(50% - 20px);
}

.tab-configuration .rightWrapper {
    float: left;
    width: calc(50% - 0px);
    margin: 0 0 10px 20px;
}