@import 'main.css';
@import '../../node_modules/nouislider/dist/nouislider.css';
@import '../../js/libraries/flightindicators.css';
@import 'opensans_webfontkit/fonts.css';
@import 'font-awesome/css/font-awesome.css';
@import 'dropdown-lists/css/style_lists.css';
@import './io7-switch.css';
@import '../../node_modules/jbox/dist/jBox.all.css';
@import 'logic.css';
@import 'defaults_dialog.css';
@import '../../node_modules/ol/ol.css';
@import 'tabs/adjustments.css';
@import 'tabs/advanced_tuning.css';
@import 'tabs/auxiliary.css';
@import 'tabs/calibration.css';
@import 'tabs/cli.css';
@import 'tabs/configuration.css';
@import 'tabs/ez_tune.css';
@import 'tabs/failsafe.css';
@import 'tabs/firmware_flasher.css';
@import 'tabs/gps.css';
@import 'tabs/landing.css';
@import 'tabs/led_strip.css';
@import 'tabs/logging.css';
@import 'tabs/magnetometer.css';
@import 'tabs/mission_planer.css';
@import 'tabs/mixer.css';
@import 'tabs/modes.css';
@import 'tabs/motors.css';
@import 'tabs/onboard_logging.css';
@import 'tabs/osd.css';
@import 'tabs/pid_tuning.css';
@import 'tabs/ports.css';
@import 'tabs/profiles.css';
@import 'tabs/programming.css';
@import 'tabs/receiver.css';
@import 'tabs/sensors.css';
@import 'tabs/setup.css';
@import 'tabs/sitl.css';
@import 'groundstation.css';
