[data-inav-theme=dark] {
    /* INAV primary color: #37a8db; */

    --inav-body-color: #dee2e6;
    --inav-body-color-rgb: 222, 226, 230;
    --inav-body-bg: #212529;
    --inav-body-bg-rgb: 33, 37, 41;
    --inav-emphasis-color: #fff;
    --inav-emphasis-color-rgb: 255, 255, 255;
    --inav-secondary-color: rgba(222, 226, 230, 0.75);
    --inav-secondary-color-rgb: 222, 226, 230;
    --inav-secondary-bg: #343a40;
    --inav-secondary-bg-rgb: 52, 58, 64;
    --inav-tertiary-color: rgba(222, 226, 230, 0.5);
    --inav-tertiary-color-rgb: 222, 226, 230;
    --inav-tertiary-bg: #2b3035;
    --inav-tertiary-bg-rgb: 43, 48, 53;
    --inav-primary-text-emphasis: #87cbe9;
    --inav-secondary-text-emphasis: #c0c5ca;
    --inav-success-text-emphasis: #82d18f;
    --inav-info-text-emphasis: #8ec2ed;
    --inav-warning-text-emphasis: #fabf6a;
    --inav-danger-text-emphasis: #e99494;
    --inav-light-text-emphasis: #f8f9fa;
    --inav-dark-text-emphasis: #dee2e6;
    --inav-primary-bg-subtle: #0b222c;
    --inav-secondary-bg-subtle: #1e2021;
    --inav-success-bg-subtle: #09240e;
    --inav-info-bg-subtle: #0d1f2d;
    --inav-warning-bg-subtle: #311e01;
    --inav-danger-bg-subtle: #2c0f0f;
    --inav-light-bg-subtle: #343a40;
    --inav-dark-bg-subtle: #1a1d20;
    --inav-primary-border-subtle: #216583;
    --inav-secondary-border-subtle: #5a5f64;
    --inav-success-border-subtle: #1c6b29;
    --inav-info-border-subtle: #285c87;
    --inav-warning-border-subtle: #945904;
    --inav-danger-border-subtle: #832e2e;
    --inav-light-border-subtle: #495057;
    --inav-dark-border-subtle: #343a40;
    --inav-heading-color: inherit;
    --inav-link-color: #87cbe9;
    --inav-link-hover-color: #9fd5ed;
    --inav-link-color-rgb: 135, 203, 233;
    --inav-link-hover-color-rgb: 159, 213, 237;
    --inav-code-color: #e685b5;
    --inav-highlight-color: #dee2e6;
    --inav-highlight-bg: #664d03;
    --inav-border-color: #495057;
    --inav-border-color-translucent: rgba(255, 255, 255, 0.15);
    --inav-form-valid-color: #75b798;
    --inav-form-valid-border-color: #75b798;
    --inav-form-invalid-color: #ea868f;
    --inav-form-invalid-border-color: #ea868f;
    --inav-gray: var(--inav-gray-600);

}