#tab-adjustments-templates {
    display: none;
}

.tab-adjustments .range .marker, .tab-adjustments .channel-slider .noUi-connect {
    background: var(--inav-primary);
}

.noUi-handle {
    box-shadow: none;
}

.noUi-pips {
    color: var(--inav-secondary);
    font-family: monospace;
    font-size: .9rem;
}
.noUi-value-horizontal {
    padding-top: 15px;
}
.noUi-marker {
    background-color: var(--inav-gray);
}
.noUi-marker-horizontal.noUi-marker {
    width: 1px;
    height: 4px;
}
.noUi-marker-horizontal.noUi-marker-large {
    height: 10px;
}

.noUi-target {
    border-radius: var(--inav-border-radius);
    border: var(--inav-border-width) var(--inav-border-color) solid;
}

.noUi-background {
    background: var(--inav-body-bg);
    box-shadow: none;
}

.tab-adjustments .range:first-child {
    border-top: 0;
}

.tab-adjustments .range:last-child {
    border-bottom: 0;
}

.tab-adjustments .adjustment .range {
    width: 65%;
    padding: 0 20px;
}

.tab-adjustments .adjustment .range .channel-slider {
    margin-top: -28px;
}

.tab-adjustments .adjustment .range .marker {
    position: absolute;
    left: 50%;
    top: 27px;
    height: 13px;
    width: 6px;
    margin-left: -3px;
    border-radius: 3px;
}
