.tab-auxiliary .range .marker, .tab-auxiliary .channel-slider .noUi-connect {
    background: var(--inav-primary);
    border-radius: var(--inav-border-radius);
    box-shadow: none;
}

.tab-auxiliary .mode.on .info {
    background: var(--inav-primary) !important;
    color: white !important;
}

.tab-auxiliary .mode.inRange .info {
    background: #104156 !important;
    color: white !important;
}

.tab-auxiliary .mode.off .info {
    background-color: var(--inav-secondary) !important;
    color: white !important;
}

.tab-auxiliary .range .marker {
    position: absolute;
    left: 50%;
    top: 27px;
    height: 1rem;
    width: 6px;
    margin-left: -3px;
}

.tab-auxiliary .delete a {
    height: 15px;
    width: 15px;
    position: relative;
    float: right;
    display: block;
    background-color: var(--inav-secondary);
    mask: url('./../../../images/icons/close1.svg');
}

.tab-auxiliary .acroEnabled {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #828885;
    color: white;
    line-height: 28px;
    bottom:10px;
    left:20px;
    text-align: center;
    z-index: 25000;
}

.tab-auxiliary .acroEnabled.on {
    background-color: var(--inav-primary);
}

.tab-auxiliary .acroEnabled.off {
    background-color: #828885;
}
