.tab-auxiliary {
    float: left;
    width: 100%;
}

.tab-auxiliary .help {
    padding: 10px;
    background-color: #ffcb18;
    margin-bottom: 10px;
}

.tab-auxiliary .range .marker, .tab-auxiliary .channel-slider .noUi-connect {
    background: #37a8db;
    border-radius: 3px;
}

.tab-auxiliary .mode.on .info {
    background: #37a8db;
    color: white;
}

.tab-auxiliary .mode.on:nth-child(odd) .info {
    background: #37a8db;
}

.tab-auxiliary .mode.inRange .info {
    background: #104156;
    color: white;
}
.tab-auxiliary .mode.inRange:nth-child(odd) .info {
    background: #104156;
}

.tab-auxiliary .mode.off .info {
    background: #828885;
    color: white;
}

.tab-auxiliary .mode.off:nth-child(odd) .info {
    background: #828885;
}

#tab-auxiliary-templates {
    display: none;
}

.tab-auxiliary .modes {
    width: 100%;
    border-spacing: 0;
}

.tab-auxiliary .modeSection > td {
    background-color: #f9f9f9;
    vertical-align: top;
    padding-bottom: 5px;
}

.tab-auxiliary .modeSectionArea {
    background-color: #37a8db;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.tab-auxiliary .mode {
    background-color: #f9f9f9;
    vertical-align: top;
    border-bottom: 1px solid #000000;
}

.tab-auxiliary .mode .name {
    min-height: 50px;
    padding: 13px 0;
}

.tab-auxiliary .mode .info {
    text-align: center;
    width: 10%;
    position: relative;
    background-color: #e4e4e4;
    border-bottom: 5px solid white;
    color: grey;
    height: 85px;
    width: 130px;
    padding: 0px 5px;
}

.tab-auxiliary .mode .info .name {
    font-weight: bold;
    font-size: 1.0em;
    padding-bottom: 5px;
}

.tab-auxiliary .mode .info .buttons {
    position: absolute;
    bottom: 14px;
    width: 100%;
    margin-left:-5px;
}

.tab-auxiliary .mode .info .buttons a {
    padding: 2px 5px;
    border-radius: 4px;
}

.tab-auxiliary .ranges {
    margin: 10px;
    padding-right: 0;
    border-bottom: 5px solid white;
}

.tab-auxiliary .range {
    position: relative;
    height: 70px;
    padding-top: 15px;
    padding-left: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #cccccc;
    background-color: #ececec;
    padding-bottom: 5px;
}

.tab-auxiliary .range:first-child {
    border-top: 0;
}

.tab-auxiliary .range:last-child {
    border-bottom: 0;
}

.tab-auxiliary .range>.buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.tab-auxiliary .range>.buttons .a {
    padding: 2px;
}

.tab-auxiliary .mode .range .channelInfo {
    float: left;
    min-width: 90px;
    text-align: center;
}

.tab-auxiliary .mode .range .channelInfo .limits {
    padding: 10px 0;
}

.tab-auxiliary .range .marker {
    position: absolute;
    left: 50%;
    top: 27px;
    height: 13px;
    width: 6px;
    margin-left: -3px;
}

.tab-auxiliary .range .channel-slider {
    float: left;
    width: 80%;
    margin-left: 20px;
    margin-top: 1px;
}

.tab-auxiliary>.buttons {
    margin-top: 10px;
}

.tab-auxiliary>.buttons a {
    float: right;
    height: 28px;
    line-height: 28px;
    padding: 0 15px 0 15px;
    display: block;
    color: #000;
}

.tab-auxiliary .buttons a {
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    color: black;
    opacity: 0.8;
    transition: all ease 0.3s;
}

.tab-auxiliary .buttons a:hover {
    background-color: #fff;
    opacity: 1.0;
    color: black;
    transition: all ease 0.3s;
}

.tab-auxiliary .delete a {
    height: 15px;
    width: 15px;
    transition: all ease 0.3s;
    opacity: 0.3;
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: -9px;
    background: url('./../../../images/icons/close1.svg') no-repeat center 100%;
    display: block;
}

.tab-auxiliary .delete a:hover {
    transition: all ease 0.3s;
    opacity: 0.6;
}

.tab-auxiliary .fixed_band {
    bottom: 0;
}

.tab-auxiliary .save_btn a {
    line-height: 28px;
}
.tab-auxiliary .toolbox {
    font-weight: bold;
    color: rgb(105, 99, 99);
    padding: 10px 5px;
}

.tab-auxiliary .acroEnabled {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #828885;
    color: white;
    font-family: 'open_sansbold', Arial, serif;
    font-size: 12px;
    display: block;
    cursor: pointer;
    transition: all ease 0.2s;
    line-height: 28px;
    position: fixed;
    bottom:10px;
    left:20px;
    width:10%;
    text-align: center;
    z-index: 25000;
}

.tab-auxiliary .acroEnabled.on {
    background-color: #37a8db;
}

.tab-auxiliary .acroEnabled.off {
    background-color: #828885;
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-auxiliary .fixed_band {
        width: calc(100% - -30px);
        margin: 0 0 0 -15px;
    }
    .tab-auxiliary .fixed_band .save_btn a {
        margin-right: 15px;
    }
}
