.tab-calibration .acc-calibration-step .step {
    height: 9rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.tab-calibration .acc-calibration-step .indicator {
    position: absolute;
    right: .75rem;
    bottom: .75rem;
    width: 2.5rem;
    height: 2.5rem;
    display: none;
    background-image: url(./../../../images/icons/check.svg);
}

.tab-calibration .acc-calibration-step.finished .indicator {
    display: unset;
}

.tab-calibration .acc-calibration-step .step1 {
    background-image: url(./../../../images/icons/pos1_grey.svg);
}

.tab-calibration .acc-calibration-step.active .step1,
.tab-calibration .acc-calibration-step.finished .step1 {
    background-image: url(./../../../images/icons/pos1.svg);
}

.tab-calibration .acc-calibration-step .step2 {
    background-image: url(./../../../images/icons/pos2_grey.svg);
}

.tab-calibration .acc-calibration-step.active .step2,
.tab-calibration .acc-calibration-step.finished .step2 {
    background-image: url(./../../../images/icons/pos2.svg);
}

.tab-calibration .acc-calibration-step .step3 {
    background-image: url(./../../../images/icons/pos3_grey.svg);
}

.tab-calibration .acc-calibration-step.active .step3,
.tab-calibration .acc-calibration-step.finished .step3 {
    background-image: url(./../../../images/icons/pos3.svg);
}

.tab-calibration .acc-calibration-step .step4 {
    background-image: url(./../../../images/icons/pos4_grey.svg);
}

.tab-calibration .acc-calibration-step.active .step4,
.tab-calibration .acc-calibration-step.finished .step4 {
    background-image: url(./../../../images/icons/pos4.svg);
}

.tab-calibration .acc-calibration-step .step5 {
    background-image: url(./../../../images/icons/pos5_grey.svg);
}

.tab-calibration .acc-calibration-step.active .step5,
.tab-calibration .acc-calibration-step.finished .step5 {
    background-image: url(./../../../images/icons/pos5.svg);
}

.tab-calibration .acc-calibration-step .step6 {
    background-image: url(./../../../images/icons/pos6_grey.svg);
}

.tab-calibration .acc-calibration-step.active .step6,
.tab-calibration .acc-calibration-step.finished .step6 {
    background-image: url(./../../../images/icons/pos6.svg);
}