.cli-textcomplete-dropdown {
    border: var(--inav-border-width) var(--inav-border-color) solid;
    border-radius: var(--inav-border-radius);
    background-color: var(--inav-body-bg);
    max-height: 50%;
    overflow: auto;
    list-style: none;
    padding: .5rem;
    margin: 0;
}
.cli-textcomplete-dropdown a {
    color: white;
    cursor: pointer;
}
.cli-textcomplete-dropdown .active {
    background-color: var(--inav-body-bg);
    color: var(--inav-body-color);
}
