.ez-tune-preview {
    background-color: #8ecae6;
    margin-left: 1em;
    margin-bottom: 1em;
    min-width: 25%;
    padding: 0.5em;
}

.ez-tune-preview h2 {
    font-size: 1.3em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    color: #303030
}

.ez-tune-preview table {
    width: 100% !important;
    float: none !important;
    border-collapse: separate !important;
}

.ez-tune-preview table td,
.ez-tune-preview table th {
    padding: 0.5em !important;
    text-align: center !important;
}

.ez-tune-preview table th {
    background-color: #3EA5D4 !important;
}

.ez-tune-preview table td {
    background-color: #A8D6EC !important;
}
