.procedure-visualization {
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 40rem;
}

.procedure-visualization.procedure-land {
    background-image: url(./../../../images/icons/cf_failsafe_procedure2.svg);
}

.procedure-visualization.procedure-drop {
    background-image: url(./../../../images/icons/cf_failsafe_procedure1.svg);
}

.procedure-visualization.procedure-rth {
    background-image: url(./../../../images/icons/cf_failsafe_procedure4.svg);
}

.procedure-visualization.procedure-nothing .procedure-nothing-text {
    display: block !important;
}