.release_info .notes img {
    max-width: 100%;
}

.tab-firmware-flasher .progress.valid {
    background-color: var(--inav-primary);
}

.tab-firmware-flasher .progress.invalid {
    background-color: var(--inav-danger);
    color: var(--inav-white);
}

.tab-firmware-flasher .release_info,
.tab-firmware-flasher .git_info {
    display: none;
}