/* general layout */
.tab-landing {
    min-height: 100%;
    overflow: hidden;
    background: var(--inav-body-bg) url(./../../../images/map_bg.svg);
}

.tab-landing .content_wrapper {
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.tab-landing .content_top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.tab-landing .community {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.tab-landing .community a {
}

.tab-landing .community ul span {
    color: var(--inav-body-color);
}

.tab-landing .community ul {
    font-size: 1.5rem;
}

.tab-landing .community ul a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-landing .community ul i {
    font-size: 35px;
    /*color: var(--inav-secondary);*/
}

.tab-landing .content_mid {
    height: 320px;
    margin-top: auto;
    background-color: var(--inav-primary-bg-subtle);
    color: var(--inav-primary-text-emphasis);
    overflow: hidden;
}

.tab-landing .content_mid a {
    text-decoration: underline;
    color: var(--inav-primary-text-emphasis);
}

.tab-landing .content_mid .wrap {
    padding: 2rem;
}

.tab-landing .content_foot {
    clear: both;
}

/* hero block */
.tab-landing .logowrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    color: var(--inav-body-color);
    font-size: 1.5rem;
}

.tab-landing .logowrapper img.dark-theme,
.tab-landing .logowrapper img.light-theme
{
    display: none;
}

[data-bs-theme="light"] .tab-landing .logowrapper img.light-theme {
    display: unset;
}

[data-bs-theme="dark"] .tab-landing .logowrapper img.dark-theme {
    display: unset;
}

/* sponsors blocks */
.sponsors .title {
    text-transform: uppercase;
    font-size: 10px;
}

.sponsors {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: silver;
}

.sponsors ul {
    margin-top: 5px;
}

.sponsors li {
    display: inline-block;
    margin-right: 10px;
}

.sponsors li a {
    border-radius: 3px;
    padding: 2px 4px;
    font-size: 35px;
    line-height: 40px;
    font-weight: normal;
    font-family: 'open_sanslight', Arial,serif;
}

.sponsors li a:hover {
    background-color: rgba(255, 255, 255, 0.30);
}

.text1, .text2, .text3 {
}

.text3 {
	color: black;
}

/* text columns */
.tab-landing .content_mid .column .wrap {
}

.tab-landing .content_mid .column .wrap2 {
}

.tab-landing .content_mid h2 {
    margin-bottom: 5px;
    color: var(--inav-primary-text-emphasis);
}

.tab-landing .content_mid h3 {
    margin-bottom: 5px;
}

.tab-landing .content_mid .text1 .wrap {
    margin-left: 0;
}

.tab-landing .content_mid .text1 {
}

.tab-landing .content_mid .text2 {
}

.tab-landing .content_mid .text2 ul {
    margin-top: 10px;
}

.tab-landing .content_mid .text2 li {
    padding: 5px 0;
}

.tab-landing .content_mid .text3 {
    width: 23%;
}

.tab-landing .content_mid .text3 .wrap2 {
    margin-right: 25px;
    margin-left: 20px;
    margin-top: 5px;
    min-height: 187px;
}

.tab-landing .content_mid .text3 .donate {
    margin-top: 10px;
    text-align: center;
}