/* general layout */
.tab-landing {
    min-height: 100%;
    overflow: hidden;
}

.tab-landing .content_wrapper {
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #104156;
}

.tab-landing .content_top {
    height: 140px;
    background: white url(./../../../images/map_bg.svg);
    padding: 20px;
}

.tab-landing .community {
    text-align: center;
    margin: 15px 0px;
}

.tab-landing .community a {
    display: block;
}

.tab-landing .community ul span {
    color: white;
    position: absolute;
    padding: 10px;
}

.tab-landing .community ul {
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 45px;
    display: inline-block;
    position: relative;
}

.tab-landing .community ul i {
    font-size: 35px;
    color: white;
    margin-left: -200px;
    margin-top: 5px;
}

.tab-landing .content_mid {
    background-color: #37a8db;
    overflow: hidden;
}

.tab-landing .content_mid a {
    color: white;
}

.tab-landing .content_foot {
    clear: both;
    padding: 20px 20px 5px;
}

/* hero block */
.tab-landing .logowrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 800px;
    color: black;
    font-size: 14px;
    font-family: 'open_sanslight', Arial,serif;
}

.tab-landing .logowrapper img {
    width: 700px;
    margin: 10px;
}


/* sponsors blocks */
.sponsors .title {
    text-transform: uppercase;
    font-size: 10px;
}

.sponsors {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: silver;
}

.sponsors ul {
    margin-top: 5px;
}

.sponsors li {
    display: inline-block;
    margin-right: 10px;
}

.sponsors li a {
    border-radius: 3px;
    padding: 2px 4px;
    font-size: 35px;
    line-height: 40px;
    color: white;
    font-weight: normal;
    font-family: 'open_sanslight', Arial,serif;
}

.sponsors li a:hover {
    background-color: rgba(255, 255, 255, 0.30);
    color: #fff;
}

.text1, .text2, .text3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: normal;
    font-family: 'open_sansregular', Arial,serif;
    font-size: 1.2em;
	color: #c2efff;
}

.text3 {
	color: black;
}

/* text columns */
.tab-landing .content_mid .column .wrap {
    padding: 0 15px;
}

.tab-landing .content_mid .column .wrap2 {
    padding: 10px;
}

.tab-landing .content_mid h2 {
    margin-bottom: 5px;
    font-size: 13px;
	color: white;
}

.tab-landing .content_mid h3 {
    font-size: 12px;
    margin-bottom: 5px;
}

.tab-landing .content_mid .text1 .wrap {
    margin-left: 0;
}

.tab-landing .content_mid .text1 {
    width: 47%;
}

.tab-landing .content_mid .text2 {
    width: 47%;
}

.tab-landing .content_mid .text2 ul {
    margin-top: 10px;
}

.tab-landing .content_mid .text2 li {
    padding: 5px 0;
    border-top: 1px dotted silver;
}

.tab-landing .content_mid .text3 {
    width: 23%;
}

.tab-landing .content_mid .text3 .wrap2 {
    border: 1px solid silver;
    border-radius: 5px;
    background: white;
    margin-right: 25px;
    margin-left: 20px;
    margin-top: 5px;
    min-height: 187px;
    font-size: 11px;
}

.tab-landing .content_mid .text3 .donate {
    margin-top: 10px;
    text-align: center;
}