.tab-led-strip {
    --cell-padding: 3px;
    --overlay-indicator-size: 8px;
}

.tab-led-strip .mainGrid .gPoint {
    aspect-ratio: 1;
    color: var(--inav-black);
    position: relative;
    display: flex;
    padding: var(--cell-padding);
    border: var(--inav-border-width) var(--inav-border-color) solid;
    border-radius: var(--inav-border-radius-lg);
    background: var(--inav-tertiary-bg);
    cursor: pointer;
}

.tab-led-strip .gPoint.function-s { /* RSSI */
    background: brown;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: rgb(52, 155, 255);
}

.tab-led-strip .gPoint.function-c { /* Color */
    background: linear-gradient( to bottom right, rgba(255, 0, 0, .5) 0%, rgba(255, 255, 0, 0.5) 15%, rgba(0, 255, 0, .5) 30%, rgba(0, 255, 255, .5) 50%, rgba(0, 0, 255, .5) 65%, rgba(255, 0, 255, .5) 80%, rgba(255, 0, 0, .5) 100%);
    border-color: grey;
}

.tab-led-strip .gPoint.function-f { /* Flight mode & orientation */
    background: rgb(50, 205, 50);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: rgb(50, 205, 50);
}

.tab-led-strip .gPoint.function-a { /* Armed Mode */
    background: rgb(52, 155, 255);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: rgb(52, 155, 255);
}

.tab-led-strip .gPoint.function-l { /* Battery */
    background: magenta;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: rgb(52, 155, 255);
}

.tab-led-strip .gPoint.function-r { /* Ring */
    color: var(--inav-white);
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, white 60%,white 70%,black 70%, black 100%);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: black;
}

.tab-led-strip .gPoint.function-g { /* GPS */
    background: green;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: rgb(52, 155, 255);
}

.tab-led-strip .gPoint.function-h { /* Channel */
    background: skyblue;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: black;
}

.tab-led-strip .gPoint.function-c .overlay-color,
.tab-led-strip .gPoint.function-r .overlay-color {
    position: absolute;
    height: calc(100% - calc(2 * var(--cell-padding)));
    width: calc(100% - calc(2 * var(--cell-padding)));
    border-radius: 4px;
}

.tab-led-strip .gPoint.function-s .overlay-s,
.tab-led-strip .gPoint.function-w .overlay-w,
.tab-led-strip .gPoint.function-i .overlay-i,
.tab-led-strip .gPoint.function-t .overlay-t,
.tab-led-strip .gPoint.function-o .overlay-o,
.tab-led-strip .gPoint.function-b .overlay-b,
.tab-led-strip .gPoint.function-n .overlay-n {
    position: absolute;
    z-index: 2;
    height: var(--overlay-indicator-size);
    width: var(--overlay-indicator-size);
    border-radius: 50%;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .75);
}

.tab-led-strip .gPoint.function-w .overlay-w {
    background-color: red;
    top: 0;
    left: 0;
}

.tab-led-strip .gPoint.function-i .overlay-i {
    background-color: yellow;
    top: 0;
    right: 0;
}

.tab-led-strip .gPoint.function-t .overlay-t {
    background-color: orange;
    left: 0;
    bottom: 0;
}

.tab-led-strip .gPoint.function-s .overlay-s {
    background-color: brown;
    margin-top: 6px;
    margin-left: 16px;
}

.tab-led-strip .gPoint.function-o .overlay-o {
    background-color: brown;
    right: 0;
    bottom: 0;
}

.tab-led-strip .gPoint.function-b .overlay-b {
    background-color: rgb(52, 155, 255);
    top: calc(50% - calc(var(--overlay-indicator-size) / 2));
    left: 0;
}

.tab-led-strip .gPoint.function-n .overlay-n {
    background-color: blue;
    top: calc(50% - calc(var(--overlay-indicator-size) / 2));
    right: 0;
}

.tab-led-strip .wire {
    color: inherit;
    position: absolute;
    z-index: 1;
    width: calc(100% - calc(2 * var(--cell-padding)));
    text-align: center;
    align-self: center;
}

.gridWire {
    background: var(--inav-success-bg-subtle);
}

/*function buttons*/
.tab-led-strip .funcWire.btnOn {
    background: var(--inav-primary-bg-subtle);
}

/* Drop-down boxes */
.tab-led-strip .select .function-c {
    background: linear-gradient( to bottom right, rgba(255, 0, 0, .5) 0%, rgba(255, 255, 0, 0.5) 15%, rgba(0, 255, 0, .5) 30%, rgba(0, 255, 255, .5) 50%, rgba(0, 0, 255, .5) 65%, rgba(255, 0, 255, .5) 80%, rgba(255, 0, 0, .5) 100%);
}

.tab-led-strip .select .function-f {    background-color: rgb(50, 205, 50);}
.tab-led-strip .select .function-a {    background-color: rgb(52, 155, 255);}
.tab-led-strip .select .function-l {    background-color: magenta;}
.tab-led-strip .select .function-s {    background-color: brown;}
.tab-led-strip .select .function-g {    background-color: green;}
/* .tab-led-strip .select .function-b {    background: white;    color:black;} */
.tab-led-strip .select .function-r {    background-color: #acacac;}
.tab-led-strip .select .function-h {    background-color: skyblue;}

.tab-led-strip .select .functionSelect option {
    background: white;
    color: black;
}

.tab-led-strip .colorDefineSliders {
    display: inline-block;
    position: absolute;
    z-index: 10000;
    background: var(--inav-body-bg);
    margin: 10px;
}

.tab-led-strip .color-1 {background: white;}
.tab-led-strip .color-2 {background: red;}
.tab-led-strip .color-3 {background: orange;}
.tab-led-strip .color-4 {background: yellow;}
.tab-led-strip .color-5 {background: greenyellow;}
.tab-led-strip .color-6 {background: limegreen;}
.tab-led-strip .color-7 {background: palegreen;}
.tab-led-strip .color-8 {background: cyan;}
.tab-led-strip .color-9 {background: lightcyan;}
.tab-led-strip .color-10 {background: dodgerblue;}
.tab-led-strip .color-11 {background: darkviolet;}
.tab-led-strip .color-12 {background: magenta;}
.tab-led-strip .color-13 {background: deeppink;}

.tab-led-strip .indicators {
    position: relative;
    height: 24px;
    width: 100%;
}

.tab-led-strip .indicators span {
    width: 0;
    height: 0;
    position: absolute;
    display: none;
    font-size: 10px;
    font-weight: bold;
}

.tab-led-strip .indicators .north {
    top: -8px;
    left: calc(50% - 7px);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--inav-body-color);
}

.tab-led-strip .indicators .south {
    bottom: -8px;
    left: calc(50% - 7px);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--inav-body-color);
}

.tab-led-strip .indicators .east {
    bottom: calc(50% - 7px);
    right: -8px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid var(--inav-body-color);
}

.tab-led-strip .indicators .west {
    bottom: calc(50% - 7px);
    left: -8px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid var(--inav-body-color);
}

.tab-led-strip .indicators .up {
    color: var(--inav-black);
    top: 0;
    left: 2px;
}

.tab-led-strip .indicators .down {
    color: var(--inav-black);
    bottom: 1rem;
    left: 2px;
}

.tab-led-strip .dir-n .north {display: inline;}
.tab-led-strip .dir-s .south {display: inline;}
.tab-led-strip .dir-e .east {display: inline;}
.tab-led-strip .dir-w .west {display: inline;}
.tab-led-strip .dir-u .up {
    display: inline;
    z-index: 3;
}
.tab-led-strip .dir-d .down {
    display: inline;
    z-index: 3;
}

.colorDefineSliderValue,
.colorDefineSliderLabel {
    width: 10px;
    display: inline-table;
    margin-bottom: 5px;
}

.tab-led-strip .directions,
.tab-led-strip .colors {
    height: 130px;
    position: relative;
    display: inline-block;
    width: 49%;
}

.tab-led-strip .directions button {
    position: absolute;
    width: 30px;
    height: 30px;
}

.tab-led-strip .directions .dir-n {top: 0; left: 32px;}
.tab-led-strip .directions .dir-s {top: 64px; left: 32px;}
.tab-led-strip .directions .dir-e {left: 64px; top: 32px;}
.tab-led-strip .directions .dir-w {left: 0; top: 32px;}
.tab-led-strip .directions .dir-u {right: 10px; top: 15px;}
.tab-led-strip .directions .dir-d {right: 10px; top: 54px;}

.tab-led-strip .colors button {
    color: var(--inav-black);
    width: 23%;
}


.tab-led-strip .wires-remaining #remaining-led {
    color: var(--inav-warning);
}

.tab-led-strip .wires-remaining.error #remaining-led {
    color: var(--inav-danger);
}

/*******JQUERYUI**********/

.tab-led-strip .ui-selected {
    box-shadow: inset 0 0 2px 4px rgba(255, 0, 255, 1) !important;
    border: solid 1px #000 !important;
}

.tab-led-strip .ui-selecting {
    box-shadow: inset 0 0 30px rgba(255, 0, 255, .7) !important;
    border: solid 1px #000 !important;
}

.tab-led-strip .ui-selectable-helper {
    background: rgba(0,0,0,.4);
    position: absolute;
    z-index: 100;
    border: 1px dotted white;
}