.tab-calibration .content_toolbar {
    height: 100px;
}

.tab-mission-control .waypoint {
    padding-left: 19px;
    padding-right: 19px;
    /*padding-bottom: 10px;*/
}
.tab-mission-control .waypoint-left {
    width: 54%;
    float: left;
    padding-right: 5px;
}
.tab-mission-control .waypoint-right{
    width: 40%;
    float: right;
}

.tab-mission-control .content_wrapper {
    height: calc(100% - 150px);
}

.tab-mission-control .checksfail {
    /*float: right;*/
    margin-top: 3px;
    height: 15px;
    width: 15px;
    background-image:url(../../../images/icons/nopass.svg);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}

.tab-mission-control .content_toolbar {
    height: 150px;
}

.tab-mission-control input {
    width: 157px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 1px solid silver;
    border-radius: 3px;
    margin-left: 11px;
    font-size: 12px;
    font-weight: normal;
}

.tab-mission-control .point {
    display: inline-block;
    margin-bottom: 5px;
}

.tab-mission-control .point-label {

}

@media (max-width: 1236px) {
    .tab-mission-control .waypoint-left {
        width: 96%;
    }
    .tab-mission-control .waypoint-right{
        width: 96%;
        float: left;
        padding-right: 19px;
    }
    .tab-mission-control .content_toolbar {
        height: 240px;
    }
    .tab-mission-control .content_wrapper {
        height: calc(100% - 240px);
    }
}


/* Need test! */
.tab-mission-control .content_toolbar {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tab-mission-control .waypoint-left,
.tab-mission-control .waypoint-right {
    width: 47%;
    float: none;
}

.btn.save_btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn.save_btn a{
    margin-top: 5px;
}

.gui_box{
    width: 100%;
    clear: both;
    height: 90%;
}

.tab-mission-control.toolbar_fixed_bottom{
    height: 100%;
}
.tab-mission-control .content_wrapper{
    height: 100%;
}
#missionMap{
    height: 100%;
}
.tab-mission-control .content_toolbar{
    height: auto;
}

.tab-mission-control input{
    width: 115px;
}

.point{
    margin-left: 5px;
}
@media (max-width: 1252px){
    .tab-mission-control .waypoint-left,
    .tab-mission-control .waypoint-right {
        width: 100%;
    }
    .tab-mission-control .waypoint-right{
        padding-right: 5px;
        margin-top: 5px;
    }
}
