.mixer-fixed-value-col {
    display: none;
}

#needToUpdateMixerMessage {
    margin-bottom: 5px;
}

.outputImageNumber {
    text-align: center;
    line-height: 1.25rem;
    position: absolute;
    background-color: #FFF;
    color: black;
    width: 2rem;
    height: 1.5rem;
    border: 2px solid #ff00ff;
    border-radius: 4px;
}

.outputImageNumber.isMotor {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.25rem;
    border-radius: 50%;
}


.motorNumber {
    position: absolute;
    font-size: 1.4em;
}

.mixer-preview-image-numbers {
    width: fit-content;
}
