.tab-motors .modelAndAccel {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

.tab-motors .spacer {
    width: calc(100% - 34px);
    margin: 10px;
}

.tab-motors #accel {
    float: left;
    width: calc(100% - 292px);
}

.tab-motors .mixerPreview img {
    width: 120px;
    height: 120px;
    margin-top: 18px;
    margin-left: 10px;
}

.tab-motors .plot_control {
    float: right;
    width: 160px;
    /* border: 1px solid silver; */
    height: 180px;
    margin: 0;
    background-color: #ECECEC;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tab-motors .plot_control .title {
    line-height: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
}

.tab-motors .plot_control dl {
    padding: 10px 10px 0 10px;
    line-height: 22px;
    float: left;
}

.tab-motors .plot_control dt {
    float: left;
    width: 60px;
    height: 22px;
    font-weight: bold;
}

.tab-motors .plot_control dd {
    /* margin-left: 20px; */
    height: 25px;
    float: right;
    width: 73px;
}

.tab-motors .plot_control select {
    float: right;
    width: 80px;
    border: 1px solid silver;
}

.tab-motors .plot_control .x {
    background-color: #00A8F0;
    padding: 3px;
    color: #fff;
    height: 12px;
    float: right;
    border-radius: 3px;
    line-height: 12px;
    margin-bottom: 2px;
    text-align: right;
}

.tab-motors .plot_control .y {
    background-color: #C0D800;
    padding: 3px;
    color: #fff;
    height: 12px;
    float: right;
    border-radius: 3px;
    line-height: 12px;
    margin-bottom: 2px;
    text-align: right;
}

.tab-motors .plot_control .z {
    background-color: #CB4B4B;
    padding: 3px;
    color: #fff;
    height: 12px;
    float: right;
    border-radius: 3px;
    line-height: 12px;
    margin-bottom: 2px;
    text-align: right;
}

.tab-motors .plot_control .rms {
    background-color: #00D800;
    padding: 3px;
    color: #fff;
    height: 12px;
    float: right;
    border-radius: 3px;
    line-height: 12px;
    margin-bottom: 2px;
    text-align: right;
}

.tab-motors .plot_control .x, .tab-sensors .plot_control .y, .tab-sensors .plot_control .z {
    text-align: right;
}

.tab-motors .plot_control .title a:hover {
    text-decoration: underline;
}

.tab-motors svg {
    float: left;
    width: calc(100% - 168px); /* - (plot control, margin)*/
    height: 140px;
    margin-top: 10px;
}

.tab-motors .grid .tick {
    stroke: silver;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tab-motors .grid path {
    stroke-width: 0;
}

.tab-motors .data .line {
    stroke-width: 2px;
    fill: none;
}

.tab-motors .axis path, .tab-motors .axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tab-motors text {
    stroke: none;
    fill: #828885;
    font-size: 10px;
}

.tab-motors .line:nth-child(1) {
    stroke: #00A8F0;
}

.tab-motors .line:nth-child(2) {
    stroke: #C0D800;
}

.tab-motors .line:nth-child(3) {
    stroke: #CB4B4B;
}

.tab-motors .left.motors {
    float: left;
    width: calc(50% - 50px);
}

.tab-motors .right.motors {
    float: right;
    width: calc(50% - 50px);
}

.tab-motors .title {
    padding-bottom: 2px;
    text-align: center;
    font-weight: bold;
}

.tab-motors .titles {
    height: 20px;
}

.tab-motors .titles li {
    float: left;
    width: calc((100% / 9) - 10px);
    margin-right: 10px;
    text-align: center;
}

.tab-motors .servos .titles li {
    float: right;
    width: calc((100% / 16) - 10px);
    margin: 0 0 0 10px;
}

.tab-motors .titles .active {
    color: #37a8db;
}

.tab-motors .m-block {
    float: left;
    width: calc((100% / 9) - 10px);
    height: 100px;
    margin-right: 10px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.motor-slider-container {
    float: left;
    width: calc((100% / 9) - 10px);
    margin-right: 10px;
    text-align: center;
}

.tab-motors .m-block .meter-bar {
    position: relative;
    width: 100%;
    height: 100px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #E0E0E0;
    border-radius: 3px;
    border: 1px solid #F5F5F5;
}

.tab-motors .m-block .label {
    position: absolute;
    width: 100%;
    bottom: 45px;
    text-align: center;
    font-weight: bold;
    color: #474747;
}

.tab-motors .m-block .indicator .label {
    color: white;
}

.tab-motors .servos .m-block {
    float: right;
    width: calc((100% / 16) - 10px);
    margin: 0 0 0 10px;
    border-radius: 3px;
}

.tab-motors .indicator {
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    border-radius: 2px;
}

.tab-motors .motor_testing {
    margin-top: 15px;
}

.tab-motors .motor_testing .left {
    width: calc(50% - 50px);
}

.tab-motors .motor_testing .sliders input {
    -webkit-appearance: slider-vertical;
    width: 100%;
    height: 73px;
}

.tab-motors .motor_testing .sliders input:first-child {
    margin-left: 0px;
}

.tab-motors .motor_testing .values {
    margin-top: 5px;
    clear: both;
}

.tab-motors .motor_testing .values li {
    float: left;
    width: calc((100% / 9) - 10px);
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
}

.tab-motors .motor_testing_notice {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #FFFFFF;
    font-size: 11px;
}

.tab-motors .motor_testing_notice p {
    margin-bottom: 10px;
}

.tab-motors .motor_testing_notice .motorsEnableTestMode {
    margin-left: 10px;
}

.tab-motors .tab-servos {
    margin: 1em;
}

.tab-motors .output-stats-table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    width: 100%;
}

.tab-motors .output-stats-table th {
    text-align: left;
}

.tab-motors .output-stats-table td {
    text-align: left;
}

.tab-servos .title {
    margin-top: 0;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-bottom: 0;
    background-color: #DADADA;
    color: #797979;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tab-servos table {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}

.tab-servos table, .tab-servos table th, .tab-servos table td {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.tab-servos input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.tab-servos .directions .direction select {
    height: 19px;
    line-height: 19px;
}

.tab-servos table th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    border: 1px solid #e4e4e4;
}

.tab-servos table td {
    border-bottom: 1px solid #e4e4e4;
    padding: 6px 5px 7px 5px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.tab-servos table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tab-servos table .main {
    font-weight: bold;
    text-align: center;
    background-color: #ececec;
}

.tab-servos table .channel {
    width: 22px;
    text-align: center;
}

.tab-servos table input {
    border: 1px solid silver;
    border-radius: 3px;
}

.tab-servos table select {
    border: 1px solid silver;
}

.tab-servos table .channel input {
    vertical-align: middle;
}

.tab-servos table input[type="number"] {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: right;
}

.tab-servos .direction .name {
    float: left;
    display: block;
    width: 60px;
}

.tab-servos .direction .alternate {
    float: left;
    display: block;
    width: 60px;
}

.tab-servos .direction .first {
    float: left;
    margin: 2px 10px 0 20px;
}

.tab-servos .direction .second {
    float: left;
    margin: 2px 10px 0 0;
}

.tab-servos .direction .rate {
    width: 110px;
    height: 20px;
    text-align: center;
}

.tab-servos .buttons {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 10px;
}

.tab-servos .live span {
    margin-right: 10px;
}

.tab-servos .wide {
    width: 120px;
} 

.tab-servos .short {
    width: 32px;
} 

.tab-motors .config-section .checkbox .switchery {
    margin-right: 68px;
}

.tab-motors .config-section .number input {
    margin-right: 4px;
}

.tab-motors .mixerPreview {
  position: relative;
}

.tab-motors .motorNumber {
    position: absolute;
    font-size: 1.4em;
    visibility: hidden;
}

.tab-motors .mixer-preview-image-numbers {
    width: fit-content;
}
