.tab-onboard-logging.sdcard-error .sdcard-icon {
    background-color: var(--inav-danger) !important;
}
.tab-onboard-logging.sdcard-initializing .sdcard-icon {
    background-color: var(--inav-info);
}
.tab-onboard-logging.sdcard-ready .sdcard-icon {
    background-color: var(--inav-primary) !important;
}
.tab-onboard-logging .sdcard-icon {
    width: 6rem;
    height: 6rem;
    background: url(./../../../images/icons/cf_icon_sdcard.svg) no-repeat center;
    background-size: 45%;
}

.require-dataflash-present,
.require-dataflash-supported,
.require-sdcard-ready,
.require-sdcard-supported,
.require-blackbox-supported,
.require-blackbox-unsupported,
.require-blackbox-config-supported,
.tab-onboard-logging.dataflash-present .require-dataflash-not-present,
.tab-onboard-logging.dataflash-supported .require-dataflash-unsupported,
.tab-onboard-logging.sdcard-supported .require-sdcard-unsupported,
.tab-onboard-logging.blackbox-config-supported .require-blackbox-config-unsupported {
    display: none;
}

.tab-onboard-logging.dataflash-present .require-dataflash-present,
.tab-onboard-logging.dataflash-supported .require-dataflash-supported,
.tab-onboard-logging.sdcard-ready .require-sdcard-ready,
.tab-onboard-logging.sdcard-supported .require-sdcard-supported,
.tab-onboard-logging.blackbox-supported .require-blackbox-supported,
.tab-onboard-logging.blackbox-unsupported .require-blackbox-unsupported,
.tab-onboard-logging.blackbox-config-supported .require-blackbox-config-supported {
    display: block;
}




.tab-onboard_logging .info {
    margin: 0 0 10px 0;
    position: relative;
}

.tab-onboard_logging .info .progressLabel {
    position: absolute;
    width: 100%;
    height: 26px;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 24px;
    color: white;
    font-weight: bold;
    /* text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.9);*/

}

.dataflash-confirm-erase .dataflash-erase-progress {
    height: 125px;
    display: none;
    border-radius: 5px;
}

.dataflash-confirm-erase.erasing .dataflash-erase-progress {
    display: block;
}

.dataflash-confirm-erase.erasing h3, .dataflash-confirm-erase.erasing .erase-flash-confirm, .dataflash-confirm-erase.erasing .dataflash-confirm-erase-note
    {
    display: none;
}

.dataflash-saving .dataflash-saving-after {
    display: none;
}

.dataflash-saving.done .dataflash-saving-before {
    display: none;
}

.dataflash-saving.done .dataflash-saving-after {
    display: block;
}

.require-no-dataflash {
    display: block;
}
