.shake {
    animation: shake 2s ease infinite;
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-0.5rem);}
    20%, 40%, 60%, 80% {transform: translateX(0.5rem);}
}

.tab-osd .display-field.mouseover {
    font-weight: bolder;
}

.tab-osd .display-field.mouseover label {
    animation: shake 2s ease infinite;
}

.tab-osd [data-video-format="AUTO"] .display-layout,
.tab-osd [data-video-format="PAL"] .display-layout,
.tab-osd [data-video-format="NTSC"] .display-layout,
.tab-osd [data-video-format="BF43COMPAT"] .display-layout {
    max-width: 55rem;
}

.tab-osd [data-video-format="HDZERO"] .display-layout,
.tab-osd [data-video-format="DJIWTF"] .display-layout,
.tab-osd [data-video-format="AVATAR"] .display-layout,
.tab-osd [data-video-format="BFHDCOMPAT"] .display-layout {
    max-width: 80rem;
}

/* START GUIDES */
.tab-osd [data-show-guides="true"] .hd43 {
    display: none;
    position: absolute;
    height: 100%;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

.tab-osd [data-show-guides="true"][data-video-format="BFHDCOMPAT"] .hd43,
.tab-osd [data-show-guides="true"][data-video-format="AVATAR"] .hd43,
.tab-osd [data-show-guides="true"][data-video-format="DJIWTF"] .hd43,
.tab-osd [data-show-guides="true"][data-video-format="HDZERO"] .hd43 {
    display: unset;
}

.tab-osd [data-show-guides="true"][data-video-format="BFHDCOMPAT"] .hd43 {
    left: 11.316%;
    width: 77.365%;
}

.tab-osd [data-show-guides="true"][data-video-format="AVATAR"] .hd43 {
    left: 4.715%;
    width: 89.627%;
}

.tab-osd [data-show-guides="true"][data-video-format="DJIWTF"] .hd43 {
    left: 11.662%;
    width: 76.676%;
}

.tab-osd [data-show-guides="true"][data-video-format="HDZERO"] .hd43 {
    left: 10%;
    width: 80%;
}

.tab-osd [data-show-guides="true"][data-video-format="AUTO"] .ntsc_bottom,
.tab-osd [data-show-guides="true"][data-video-format="PAL"] .ntsc_bottom {
    border-bottom: 2px solid #29ee29;
    position: absolute;
    bottom: 18.75%;
    left: 0;
    width: 100%;
}

.tab-osd [data-show-guides="true"][data-video-format="HDZERO"] .hdzero_box {
    position: absolute;
    left: 20%;
    top: 5.555%;
    width: 60%;
    height: 88.888%;
    border: 2px solid blue;
}

.tab-osd [data-show-guides="true"][data-video-format="BFHDCOMPAT"] .bfhdcompat_storage_box {
    border: 2px solid purple;
    position: absolute;
    top: 25%;
    height: 15%;
    right: 0;
    width: 13.202%;
    pointer-events: none;
}

.tab-osd [data-show-guides="true"][data-video-format="BFHDCOMPAT"] .bfhdcompat_bottom_box {
    border: 2px solid purple;
    position: absolute;
    width: 29.233%;
    height: 20%;
    bottom: 0;
    right: 0;
    pointer-events: none;
}


.tab-osd [data-show-guides="true"][data-video-format="AVATAR"] .avatar_storage_box {
    border: 2px solid purple;
    position: absolute;
    top: 7.5%;
    height: 10%;
    right: 5.658%;
    width: 7.544%;
}

.tab-osd [data-show-guides="true"][data-video-format="AVATAR"] .avatar_bottom_bar {
    border-bottom: 2px solid purple;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
}
/* END GUIDES */

.tab-osd .info .progressLabel {
    position: absolute;
    width: 100%;
    height: 26px;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 24px;
    color: white;
    font-weight: bold;
}

.blue {
    color: var(--inav-blue);
}

.tab-osd .display-layout {
    background: url(./../../../images/osd-bg-1.jpg);
    background-size: cover;
}

.tab-osd .hide {
    display: none;
}

.tab-osd .char-label.mouseover,
.tab-osd .char.dragging,
.tab-osd .char.mouseover {
    background: rgba(255, 255, 255, 0.4);
}

.tab-osd .preview .char[draggable="true"] {
    cursor: move;
}

.tab-osd .display-field input[type=number] {
    display: none;
}

.tab-osd .preview .char {
    aspect-ratio: 1 / 1.5;
    display: inline-flex;
    flex: 1 1 0;
    width: 0;
}

.tab-osd .preview .char img {
    width: 100%;
    height: 100%;
}

.tab-osd .preview-row {
    display: flex;
}