.pid-sliders-axis.ez-tune-switcher {
    background-color: var(--inav-success-bg-subtle);
    border: var(--inav-border-width) var(--inav-success-border-subtle) solid;
    color: var(--inav-success-text-emphasis);
}

.pid-sliders-axis[data-axis="roll"],
.pid-sliders-axis[data-axis="0"] {
    background-color: var(--inav-primary-bg-subtle);
    border: var(--inav-border-width) var(--inav-primary-border-subtle) solid;
    color: var(--inav-primary-text-emphasis);
}

.pid-sliders-axis[data-axis="pitch"],
.pid-sliders-axis[data-axis="1"]
 {
    background-color: var(--inav-info-bg-subtle);
    border: var(--inav-border-width) var(--inav-info-border-subtle) solid;
    color: var(--inav-info-text-emphasis);
}

.pid-sliders-axis[data-axis="yaw"],
.pid-sliders-axis[data-axis="2"]
{
    background-color: var(--inav-warning-bg-subtle);
    border: var(--inav-border-width) var(--inav-warning-border-subtle) solid;
    color: var(--inav-warning-text-emphasis);
}

.pid-sliders-axis[data-axis="3"]
{
    background-color: var(--inav-danger-bg-subtle);
    border: var(--inav-border-width) var(--inav-danger-border-subtle) solid;
    color: var(--inav-danger-text-emphasis);
}