.tab-ports {
    position: relative;
}

#tab-ports-templates {
    display: none;
}

.tab-ports table {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}

.tab-ports table, .tab-ports table th, .tab-ports table td {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.tab-ports table tr td:first-child {
    text-align: left;
}

.tab-ports table td {
    border: var(--inav-border-width) var(--inav-border-color) solid;
    border-top: none;
    padding: 6px 5px 7px 5px;
}

.tab-ports table thead tr:first-child, .tab-ports table tr:nth-child(even) {
    background-color: rgba(var(--inav-emphasis-color-rgb), 0.05);
}

.tab-ports table thead tr:first-child {
    background-color: rgba(var(--inav-emphasis-color-rgb), 0.05);
}

.tab-ports .function input {
    vertical-align: -2px;
}

.tab-ports .function label {
    margin-right: 5px;
}

.tab-ports select {
    margin-right: 3px;
}

.tab-ports .require-support {
    display: none;
}

.tab-ports.supported .require-support {
    display: block;
}

.tab-ports .require-upgrade {
    display: block;
}

.tab-ports.supported .require-upgrade {
    display: none;
}

.tab-ports .ports thead td {
    text-align: left;
    white-space: nowrap;
    padding: 5px 7px;
    background-color: rgba(var(--inav-emphasis-color-rgb), 0.05);
    color: var(--inav-body-color);
}

.tab-ports .ports thead td:first-child {
    border-top-left-radius: var(--inav-border-radius);
    border-left: 0;
}

.tab-ports .ports thead td:last-child {
    border-top-right-radius: var(--inav-border-radius);
    border-right: 0;
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-ports table thead tr:first-child {
        font-size: 12px;
        height: 22px;
    }
}