.gvar__container {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: 1em 0 1em 0;
    padding: 0;
    position: relative;
}

.gvar__wrapper {
    position: relative;
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
}

.gvar__cell {
    padding: .5rem 1rem;
    background-color: var(--inav-primary-bg-subtle);
    border-radius: var(--inav-border-radius);
    border: var(--inav-border-width) var(--inav-primary-border-subtle) solid;
}

.gvar__cell h2 {
    font-size: 1rem;
    color: var(--inav-primary-text-emphasis);
}

.gvar__value {
    font-size: 1.5rem;
    font-weight: bold;
}

.logic__table select,
.logic__table input {
    width: auto;
    margin: 0;
    padding: 2px;
    margin-right: 1em;
    /*font-size: 13px;*/
}