.checkspass {
    margin-top: 3px;
    height: 15px;
    width: 15px;
    background-image:url(./../../../images/icons/pass.svg);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    }
    
.checksfail {
    margin-top: 3px;
    height: 15px;
    width: 15px;
    background-image:url(./../../../images/icons/nopass.svg);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}